{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=.\\SQLExpress; Initial Catalog=KBTDB; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.ProductAlternative",
                    "Identifier": "ProductAlternative",
                    "Module": "DIS",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Revenue",
                    "Identifier": "Revenue",
                    "Module": "DIS",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ViewPurchaseOrder",
                    "Identifier": "ViewPurchaseOrder",
                    "Module": "DIS",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ViewPurchaseOrderDetail",
                    "Identifier": "ViewPurchaseOrderDetail",
                    "Module": "DIS",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ViewProductUnitOrder",
                    "Identifier": "ViewProductUnitOrder",
                    "Module": "DIS",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ViewProductUnit",
                    "Identifier": "ViewProductUnit",
                    "Module": "DIS",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ServiceUnit",
                    "Identifier": "ServiceUnit",
                    "Module": "DIS",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ServiceUnitDetail",
                    "Identifier": "ServiceUnitDetail",
                    "Module": "DIS",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ViewOrders",
                    "Identifier": "ViewOrders",
                    "Module": "DIS",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Supplier",
                    "Identifier": "Supplier",
                    "Module": "DIS",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                }
            ]
        },
        {
            "Key": "KBTDBConnectionString",
            "ConnectionString": "Data Source=.\\SQLExpress;Initial Catalog=KBTDB;Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=.\\SQLExpress; Initial Catalog=KBT_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\KBT\\KBT.Web\\KBT.Web.csproj",
    "RootNamespace": "KBT",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false
}