
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.DIS.ViewOrders.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new KBT.DIS.ViewOrdersGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>