@*@{
        Layout = MVC.Views.Shared._Layout;
    }*@





<div id="GridDiv"></div>


<script type="text/javascript">
    jQuery(function () {
        //new KBT.DIS.Upload.UploadFilePanel($('#UploadFilePanel')).init();

        new KBT.DIS.UploadProductsGrid($('#GridDiv'), {}).init();
        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>
